/*//////////////*/
/* SITEWIDE CSS */
/*//////////////*/

body {
    background-color: #000;
    color: #FFF;
    width: 800px;
    border: 2px solid #FFF;
    margin: auto;
    font-family: calibri;
}

ul {
    margin: 0;
}

/*/////////////*/
/* SITE HEADER */
/*/////////////*/


body > header:nth-child(1) > hgroup:nth-child(1) > h1:nth-child(1) {
    margin: 0;
}

/*//////////*/
/* NAV BARS */
/*//////////*/

nav {
    text-align: center;
}

nav > ul {
    padding: 0;
    font-style: normal;
}

nav > ul > li {
    display: inline-block;
}

/*//////////////*/
/* SITE CONTENT */
/*//////////////*/

main {
    margin: 0 auto;
}

article {
    padding: 0 100px;
}

article > header {
    text-align: center;
}

article > p > img {
    display: block;
    margin: auto;
    max-width: 600px;
}