body {
    background-color: #000;
    color: #FFF;
    width: 800px;
    border: 2px solid #FFF;
    margin: auto;
}

main > article > header {
    text-align: center;
}

main > article > p {
    width: 600px;
    margin: auto;
}