/*//////////////*/
/* SITEWIDE CSS */
/*//////////////*/

body {
    background-color: #000;
    color: #FFF;
    width: 800px;
    margin: auto;
    font-family: calibri;
}

ul {
    margin: 0;
}

/*/////////////*/
/* SITE HEADER */
/*/////////////*/

hgroup {
    border-bottom: 2px solid #FFF;
    padding-bottom: 10px
}

hgroup > h1 {
    margin: 0;
}

hgroup > h1 > a {
    font-family: arial;
    text-decoration: none;
    color: #FFF;
    text-align: right;
    letter-spacing: 10px;
    display: block;
    width: 800px;
}

#nameBreak {
    display: block;
    height: 0;
}

/*//////////*/
/* NAV BARS */
/*//////////*/

nav {
    text-align: center;
    margin: 15px 0;
}

nav > ul {
    padding: 0;
    font-style: normal;
}

nav > ul > li {
    display: inline-block;
}

/*//////////////*/
/* SITE CONTENT */
/*//////////////*/

main {
    margin: 0 auto;
}

article {
    padding: 0 100px;
}

article > header {
    text-align: center;
}

article > p > img {
    display: block;
    margin: auto;
    max-width: 600px;
}